workflows/ Backup to GitHub.json
{"updatedAt":"2025-11-28T12:47:06.000Z","createdAt":"2025-11-28T12:37:46.522Z","id":"FVT7zw802oVSpx3e","name":"Backup to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"8340298e-8171-4e5a-ac60-9eb66086a87b","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{"tags":"kav-ticket-generator"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,0],"id":"6a1789db-3d89-4501-a80c-e1f3aaae570e","name":"Get many workflows","credentials":{"n8nApi":{"id":"tlgtLk2WEz57Vw9L","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KSC-Ticket-Generator","mode":"list","cachedResultName":"KSC-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KSC-Ticket-Generator"},"filePath":"=workflows/ {{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Updated at:  {{ $json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[432,0],"id":"bb7ff983-fb16-4f22-bcb1-58827c6c3869","name":"Create a file","webhookId":"e524c0d0-12f3-4c3a-8026-3c8c21420889","credentials":{"githubApi":{"id":"9XE4F0mry2nyHA5h","name":"GitHub account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6ca9b0bc-83df-4f71-badb-19ebedf67473","triggerCount":0,"shared":[{"updatedAt":"2025-11-28T12:37:46.528Z","createdAt":"2025-11-28T12:37:46.528Z","role":"workflow:owner","workflowId":"FVT7zw802oVSpx3e","projectId":"oo3cHiujaGSfUTH0"}],"tags":[{"updatedAt":"2025-11-26T06:03:52.564Z","createdAt":"2025-11-26T06:03:52.564Z","id":"zlirkWE9DeT8Di5e","name":"kav-ticket-generator"}]}