workflows/ clean up workflows folder on github.json
{"updatedAt":"2025-11-28T12:44:44.000Z","createdAt":"2025-11-28T12:43:02.171Z","id":"I5XzhjKuhciQUCgo","name":"clean up workflows folder on github","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"f87101c0-ed34-4ce0-acc4-82e3e38330e5","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KSC-Ticket-Generator","mode":"list","cachedResultName":"KSC-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KSC-Ticket-Generator"},"filePath":"={{ $json.path }}","commitMessage":"clean up by n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[416,0],"id":"ac80e195-380c-4721-88fa-d04367deeabc","name":"Delete a file","webhookId":"76fd104e-5108-43e6-949e-a6a5ebae4c37","credentials":{"githubApi":{"id":"9XE4F0mry2nyHA5h","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KSC-Ticket-Generator","mode":"list","cachedResultName":"KSC-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KSC-Ticket-Generator"},"filePath":"workflows/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[208,0],"id":"8d1f8c7e-51da-4bfe-8b16-d5f751ce4cd6","name":"List files","webhookId":"5537cf9c-526a-4a73-87ab-fb37e559e1bc","credentials":{"githubApi":{"id":"9XE4F0mry2nyHA5h","name":"GitHub account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Delete a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d8211b6e-f48a-445d-83aa-6fe8bf2ee062","triggerCount":0,"shared":[{"updatedAt":"2025-11-28T12:43:02.174Z","createdAt":"2025-11-28T12:43:02.174Z","role":"workflow:owner","workflowId":"I5XzhjKuhciQUCgo","projectId":"oo3cHiujaGSfUTH0"}],"tags":[{"updatedAt":"2025-11-26T06:03:52.564Z","createdAt":"2025-11-26T06:03:52.564Z","id":"zlirkWE9DeT8Di5e","name":"kav-ticket-generator"}]}