workflows/ GitHub - Restore KTG from GitHub.json
{"updatedAt":"2025-12-02T08:27:01.272Z","createdAt":"2025-12-01T13:34:13.967Z","id":"zwTxFinKcTdiLUKj","name":"GitHub - Restore KTG from GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"f28eb768-b874-4eab-b552-b13a96b2570b","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KAV-Ticket-Generator","mode":"list","cachedResultName":"KAV-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KAV-Ticket-Generator"},"filePath":"workflows/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[224,0],"id":"23e9d54d-cd5d-402e-82e2-058d237e1a04","name":"List files","webhookId":"ffb95dbd-cc0d-4d91-ad90-358bf4c2681b","credentials":{"githubApi":{"id":"DxdH0OgmTllL2cLM","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KAV-Ticket-Generator","mode":"list","cachedResultName":"KAV-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KAV-Ticket-Generator"},"filePath":"={{ $json.path }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[448,0],"id":"71f3676a-4b9f-4192-85d4-d041f87654a4","name":"Get a file","webhookId":"8e957e37-8492-4442-8330-e72cbf668207","credentials":{"githubApi":{"id":"DxdH0OgmTllL2cLM","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[672,0],"id":"5e82fca2-e23b-4d5d-90a3-45fa687d8ea2","name":"Extract from File","executeOnce":true},{"parameters":{"operation":"create","workflowObject":"={{ $json.data.toJsonString() }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[896,0],"id":"609ddab8-0034-49ae-a62d-145439dde9af","name":"Create a workflow","credentials":{"n8nApi":{"id":"mNXW8sbmF9iGC5H1","name":"n8n account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0efc6d6e-b493-41ff-b827-225b44ffde48","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T13:34:13.967Z","createdAt":"2025-12-01T13:34:13.967Z","role":"workflow:owner","workflowId":"zwTxFinKcTdiLUKj","projectId":"MqHMA4XA0kClklct"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"},{"updatedAt":"2025-10-19T05:20:30.615Z","createdAt":"2025-10-19T05:20:30.615Z","id":"nT4D6iy7qjD7JEAG","name":"GitHub"}]}