workflows/ GitHub - Backup to GitHub.json
{"updatedAt":"2025-12-04T10:30:16.362Z","createdAt":"2025-12-01T13:34:13.916Z","id":"mwuvF749UVKwMC4K","name":"GitHub - Backup to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,0],"id":"8340298e-8171-4e5a-ac60-9eb66086a87b","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{"tags":"kav-ticket-generator"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[336,0],"id":"6a1789db-3d89-4501-a80c-e1f3aaae570e","name":"Get many workflows","credentials":{"n8nApi":{"id":"mNXW8sbmF9iGC5H1","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KAV-Ticket-Generator","mode":"list","cachedResultName":"KAV-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KAV-Ticket-Generator"},"filePath":"=workflows/ {{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Updated at:  {{ $json.updatedAt }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[560,0],"id":"bb7ff983-fb16-4f22-bcb1-58827c6c3869","name":"Create a file","webhookId":"e524c0d0-12f3-4c3a-8026-3c8c21420889","credentials":{"githubApi":{"id":"DxdH0OgmTllL2cLM","name":"GitHub account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"TGeTWSZ1ekDARhoZ","mode":"list","cachedResultUrl":"/workflow/TGeTWSZ1ekDARhoZ","cachedResultName":"GitHub - clean up workflow folder"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[112,0],"id":"93149817-f837-49e6-933c-5f28ba11f605","name":"Call 'GitHub - clean up workflow folder'"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'GitHub - clean up workflow folder'","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Call 'GitHub - clean up workflow folder'":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"612bd351-78d6-4a86-af1b-7f244976e4cd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-01T13:34:13.916Z","createdAt":"2025-12-01T13:34:13.916Z","role":"workflow:owner","workflowId":"mwuvF749UVKwMC4K","projectId":"MqHMA4XA0kClklct"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"},{"updatedAt":"2025-10-19T05:20:30.615Z","createdAt":"2025-10-19T05:20:30.615Z","id":"nT4D6iy7qjD7JEAG","name":"GitHub"}]}