workflows/ GitHub - clean up workflow folder.json
{"updatedAt":"2025-12-04T10:35:15.638Z","createdAt":"2025-11-28T13:07:41.585Z","id":"TGeTWSZ1ekDARhoZ","name":"GitHub - clean up workflow folder","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KAV-Ticket-Generator","mode":"list","cachedResultName":"KAV-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KAV-Ticket-Generator"},"filePath":"={{ $json.path }}","commitMessage":"clean up by n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[432,-80],"id":"ac80e195-380c-4721-88fa-d04367deeabc","name":"Delete a file","webhookId":"76fd104e-5108-43e6-949e-a6a5ebae4c37","credentials":{"githubApi":{"id":"DxdH0OgmTllL2cLM","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"tchr-dev","mode":"list","cachedResultName":"tchr-dev","cachedResultUrl":"https://github.com/tchr-dev"},"repository":{"__rl":true,"value":"KAV-Ticket-Generator","mode":"list","cachedResultName":"KAV-Ticket-Generator","cachedResultUrl":"https://github.com/tchr-dev/KAV-Ticket-Generator"},"filePath":"workflows/"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[208,16],"id":"8d1f8c7e-51da-4bfe-8b16-d5f751ce4cd6","name":"List files","webhookId":"5537cf9c-526a-4a73-87ab-fb37e559e1bc","credentials":{"githubApi":{"id":"DxdH0OgmTllL2cLM","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,16],"id":"248567d5-612f-424d-b2b0-78b925f4b657","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"return [{\n  json: { result: \"OK!\"}\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,-80],"id":"379e853d-d8e9-46b1-b80a-e3a03d170b86","name":"Result Ok"},{"parameters":{"jsCode":"return [{\n  json: { result: \"OK!\"}\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,112],"id":"896ab51c-9ff4-48ce-9afa-2a98545432ce","name":"Result Error"}],"connections":{"List files":{"main":[[{"node":"Delete a file","type":"main","index":0}],[{"node":"Result Error","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"List files","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Result Ok","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"965133e8-1625-4633-b1ce-3535b4413159","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-28T13:07:41.585Z","createdAt":"2025-11-28T13:07:41.585Z","role":"workflow:owner","workflowId":"TGeTWSZ1ekDARhoZ","projectId":"MqHMA4XA0kClklct"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"},{"updatedAt":"2025-10-19T05:20:30.615Z","createdAt":"2025-10-19T05:20:30.615Z","id":"nT4D6iy7qjD7JEAG","name":"GitHub"}]}