workflows/ KTG Step 2 Enrichment.json
{"updatedAt":"2025-12-02T08:21:34.535Z","createdAt":"2025-12-01T13:34:13.911Z","id":"2mulPMy44JyWHEml","name":"KTG Step 2 Enrichment","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-672,-64],"id":"b19f7bf9-2d52-4422-9cb9-8deffa96d376","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","tableId":"ktg_main","filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"received"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-464,-64],"id":"ba71716a-dd80-48ad-b742-291d2baac6d2","name":"Get many rows","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9ead51f8-0f28-4a8f-aa9d-a34d52ef8994","name":"email_notification.user","value":"={{ $json.email_notification.user.split(\" \")[0] }}","type":"string"},{"id":"fb159828-b896-4c25-bbb0-95171462e0a0","name":"email_notification.hostIp","value":"={{ $json.email_notification.hostIp }}","type":"string"},{"id":"66c9e950-1979-4538-861b-d2e2fd949382","name":"email_notification.computer","value":"={{ $json.email_notification.computer }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,-64],"id":"b0b9cd5a-3d00-4f49-93cd-39b6d52ee81d","name":"Edit Fields"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"fqgtMtrSeY21yQLU","mode":"list","cachedResultName":"Employees","cachedResultUrl":"/projects/oo3cHiujaGSfUTH0/datatables/fqgtMtrSeY21yQLU"},"filters":{"conditions":[{"keyName":"UserId","keyValue":"={{ $json.email_notification.user.split(\"\\\\\")[1] }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-48,-64],"id":"d4e8ef61-36c6-4fec-97c3-8281538001a4","name":"Get row(s)"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"dbe5d34e-11b5-4322-8209-614122cf04ec","triggerCount":0,"shared":[{"updatedAt":"2025-12-01T13:34:13.911Z","createdAt":"2025-12-01T13:34:13.911Z","role":"workflow:owner","workflowId":"2mulPMy44JyWHEml","projectId":"MqHMA4XA0kClklct"}],"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"}]}