workflows/ KTG Step FINAL-A Create Ticket.json
{"updatedAt":"2025-12-05T11:19:46.101Z","createdAt":"2025-12-01T13:34:13.933Z","id":"CEPq1GwB8EbM7SOV","name":"KTG Step FINAL-A Create Ticket","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-592,0],"id":"e731d7ec-0336-4fca-bcb4-828a11085994","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7a193a60-f171-4744-af07-72a973a4ba1a","name":"status_get","value":"ingested","type":"string"},{"id":"0081d29a-ce94-4bf5-a761-2c559b25eff1","name":"status_set","value":"ticket_created","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,0],"id":"c6634aee-a4f6-46fd-a712-9d8aeb4b79c7","name":"Edit Fields","disabled":true},{"parameters":{"operation":"getAll","tableId":"ktg_main","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"={{ $json.status_get }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,0],"id":"a843ea6f-65a5-4b9b-b9c0-7608c86d90db","name":"Get many rows","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}},"disabled":true},{"parameters":{"method":"POST","url":"https://otrs.mbr.loc/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"},{"name":"X-OTRS-Header-UserLogin","value":"TEC721"},{"name":"X-OTRS-Header-Password","value":"JwYysZmugRa5AMx9"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\n    \"Ticket\":{\n        \"Title\":\"{{ $json.computer }} - {{ $json.event }}\",\n        \"Queue\":\"MBR-137-Security\",\n        \"StateID\": 1 ,\n        \"PriorityID\": 3,\n        \"CustomerUser\":\"PIDB3C3\",\n        \"Type\": \"Incident\"\n    },\n    \"Article\":{\n        \"CommunicationChannel\":\"Email\",\n        \"Subject\":\"{{ $json.event }}\",\n        \"Body\": {{ $json.raw.toJsonString() }},\n        \"ContentType\":\"\",\n        \"Charset\":\"utf-8\",\n        \"MimeType\":\"text/plain\"\n    }\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[80,0],"id":"7b8fc187-262c-4ae2-bd8c-2b67feb2d583","name":"HTTP Request","disabled":true},{"parameters":{"operation":"update","tableId":"ktg_main","filters":{"conditions":[{"keyName":"uuid","condition":"eq","keyValue":"={{ $('Get many rows').item.json.uuid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"ticket_number","fieldValue":"={{ $json.TicketNumber }}"},{"fieldId":"ticket_id","fieldValue":"={{ $json.TicketID }}"},{"fieldId":"status","fieldValue":"={{ $('Edit Fields').item.json.status_set }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[304,0],"id":"83acab97-321f-44d3-9631-b72677f0894f","name":"Update a row","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}},"disabled":true},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,0],"id":"b55e0a95-8996-4076-a635-bfbac4c6a37d","name":"Success","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,496],"id":"1d44d4ee-84fe-452e-9cfb-8e72b42cfba8","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"0d162fad-aa0b-4c45-ae28-554bd99d220e","name":"run_index","value":"={{ $runIndex }}","type":"string"},{"id":"6211366a-2d01-4e6e-8ab0-48cd2583289d","name":"incident_key","value":"={{ $json.incident_key }}","type":"string"},{"id":"fa72829d-b38a-4f00-9b23-1254b964b4e3","name":"previous_incident_key","value":"={{ \n  $('Loop Over Items').context.currentRunIndex > 0\n    ? $('Loop Over Items').context.processedItems[\n        $('Loop Over Items').context.currentRunIndex - 1\n      ].json.incident_key\n    : ''\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,416],"id":"0fb3c410-c680-4332-b1f1-c53ec6e6b856","name":"Get Previous incident_key"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c62bb84-b243-4b72-a654-fade8a01e837","leftValue":"={{ $json.incident_key }}","rightValue":"={{ $json.previous_incident_key }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Create Ticket"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.incident_key }}","rightValue":"={{ $json.previous_incident_key }}","operator":{"type":"string","operation":"equals"},"id":"5c8f18fc-04ea-4e9e-abde-4e94ff5cd470"}],"combinator":"and"},"renameOutput":true,"outputKey":"Duplicate Item - Increase call_counter"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[528,416],"id":"b0109d35-617f-4a6e-9a50-15c48e24a394","name":"Switch"},{"parameters":{"operation":"update","tableId":"ktg_main","filters":{"conditions":[{"keyName":"uuid","condition":"eq","keyValue":"={{ $('Get many rows1').item.json.uuid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"ticket_number","fieldValue":"={{ $json.TicketNumber }}"},{"fieldId":"ticket_id","fieldValue":"={{ $json.TicketID }}"},{"fieldId":"status","fieldValue":"={{ $('Edit Fields1').item.json.status_set }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[976,496],"id":"bd25f2af-c145-4b2e-a729-302fb748aa66","name":"Update - ticket_created AND ticket_id","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7a193a60-f171-4744-af07-72a973a4ba1a","name":"status_get","value":"ingested","type":"string"},{"id":"0081d29a-ce94-4bf5-a761-2c559b25eff1","name":"status_set","value":"ticket_created","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,496],"id":"c0503277-5ebc-4d6b-9110-7604e222e95a","name":"Edit Fields1"},{"parameters":{"operation":"getAll","tableId":"ktg_main","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"={{ $json.status_get }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-144,496],"id":"70da4221-e07b-4af9-b7f9-6ef1a7d9d86d","name":"Get many rows1","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://otrs.mbr.loc/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"},{"name":"X-OTRS-Header-UserLogin","value":"TEC721"},{"name":"X-OTRS-Header-Password","value":"JwYysZmugRa5AMx9"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\n    \"Ticket\":{\n        \"Title\":\"{{ $('Loop Over Items').item.json.computer }} - {{ $('Loop Over Items').item.json.event }}\",\n        \"Queue\":\"MBR-137-Security\",\n        \"StateID\": 1 ,\n        \"PriorityID\": 3,\n        \"CustomerUser\":\"PIDB3C3\",\n        \"Type\": \"Incident\"\n    },\n    \"Article\":{\n        \"CommunicationChannel\":\"Email\",\n        \"Subject\":\"{{ $('Loop Over Items').item.json.event }}\",\n        \"Body\": {{ $('Loop Over Items').item.json.raw.toJsonString() }},\n        \"ContentType\":\"\",\n        \"Charset\":\"utf-8\",\n        \"MimeType\":\"text/plain\"\n    }\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[752,416],"id":"2261986b-c36f-45db-ac00-e237d31d3680","name":"HTTP Request1"},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,224],"id":"1aae9236-f500-4069-a6fd-3f64f641ce05","name":"Success1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-592,496],"id":"1494945d-34df-44d2-85e4-a26c7dfe3de5","name":"When Executed by Another Workflow"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Success","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Success1","type":"main","index":0}],[{"node":"Get Previous incident_key","type":"main","index":0}]]},"Get Previous incident_key":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Update - ticket_created AND ticket_id":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Get many rows1","type":"main","index":0}]]},"Get many rows1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Update - ticket_created AND ticket_id","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5b0adcb8-8de2-4e49-bf16-6e3e3db46628","triggerCount":0,"shared":[{"updatedAt":"2025-12-01T13:34:13.933Z","createdAt":"2025-12-01T13:34:13.933Z","role":"workflow:owner","workflowId":"CEPq1GwB8EbM7SOV","projectId":"MqHMA4XA0kClklct"}],"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"}]}