workflows/ KTG FINAL-C Set Status Closed for Tickets.json
{"updatedAt":"2025-12-08T12:04:02.915Z","createdAt":"2025-12-08T06:38:44.342Z","id":"ofZtQ1lsCYpm51Nc","name":"KTG FINAL-C Set Status Closed for Tickets","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://otrs.mbr.loc/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket","sendQuery":true,"queryParameters":{"parameters":[{"name":"StateType","value":"closed"},{"name":"TicketID","value":"={{ $json.ticket_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Basic aWtvdmFsZTpKZ3RoZndieiMyMA=="},{"name":"x-otrs-header-password","value":"JwYysZmugRa5AMx9"},{"name":"x-otrs-header-userlogin","value":"TEC721"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,-208],"id":"81becf90-6f08-4ca1-8197-4876c713706b","name":"Get Closed Tickets","executeOnce":false},{"parameters":{"operation":"getAll","tableId":"ktg_main","filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"ticket_created"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-320,-208],"id":"33193155-cb5f-4af5-84ba-98cfbe9e7144","name":"Get many rows","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2cb9e82e-69f8-45fb-91a8-36108d12ea05","name":"ticket_id","value":"={{ $json.ticket_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-208],"id":"aef72a93-cdba-4068-add8-11b5aa86392c","name":"Edit Fields"},{"parameters":{"operation":"update","tableId":"ktg_main","filters":{"conditions":[{"keyName":"ticket_id","condition":"eq","keyValue":"={{ $json.ticket_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"ticket_closed"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,-208],"id":"969bdb81-9b95-4527-b08a-2d7fd0447698","name":"Set Status to Closed","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"76aa7604-77a0-4ebf-8245-326da62dfe36","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[352,-208],"id":"cf618245-6a34-4650-bda3-63a4a8ae49a4","name":"Filter Empty Values"},{"parameters":{"assignments":{"assignments":[{"id":"16b94401-c7c7-4ba4-a75f-be9642c59d1c","name":"ticket_id","value":"={{ Number($json.TicketID[0]) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,-208],"id":"acb02f2e-e529-46de-bd76-6fa5b70c3d19","name":"Convert Array Text Value to Numerical"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-544,-208],"id":"2f23f19b-4817-4718-8226-6bcb33efe670","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,-208],"id":"50a8eda9-23af-4872-93fe-e557a942e49d","name":"Success"}],"connections":{"Get Closed Tickets":{"main":[[{"node":"Filter Empty Values","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get Closed Tickets","type":"main","index":0}]]},"Filter Empty Values":{"main":[[{"node":"Convert Array Text Value to Numerical","type":"main","index":0}]]},"Convert Array Text Value to Numerical":{"main":[[{"node":"Set Status to Closed","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Set Status to Closed":{"main":[[{"node":"Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e6e8eff1-a3da-4351-8a9a-6fd339a9a5b2","triggerCount":0,"shared":[{"updatedAt":"2025-12-08T06:38:44.342Z","createdAt":"2025-12-08T06:38:44.342Z","role":"workflow:owner","workflowId":"ofZtQ1lsCYpm51Nc","projectId":"MqHMA4XA0kClklct"}],"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"}]}