workflows/ KTG Step FINAL-A Create Ticket.json
{"updatedAt":"2025-12-04T07:34:07.678Z","createdAt":"2025-12-01T13:34:13.933Z","id":"CEPq1GwB8EbM7SOV","name":"KTG Step FINAL-A Create Ticket","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"e731d7ec-0336-4fca-bcb4-828a11085994","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"7a193a60-f171-4744-af07-72a973a4ba1a","name":"status_get","value":"ingested","type":"string"},{"id":"0081d29a-ce94-4bf5-a761-2c559b25eff1","name":"status_set","value":"ticket_created","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"c6634aee-a4f6-46fd-a712-9d8aeb4b79c7","name":"Edit Fields"},{"parameters":{"operation":"getAll","tableId":"ktg_main","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"={{ $json.status_get }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,0],"id":"a843ea6f-65a5-4b9b-b9c0-7608c86d90db","name":"Get many rows","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://otrs.mbr.loc/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"},{"name":"X-OTRS-Header-UserLogin","value":"TEC721"},{"name":"X-OTRS-Header-Password","value":"JwYysZmugRa5AMx9"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\n    \"Ticket\":{\n        \"Title\":\"{{ $json.computer }} - {{ $json.event }}\",\n        \"Queue\":\"MBR-137-Security\",\n        \"StateID\": 1 ,\n        \"PriorityID\": 3,\n        \"CustomerUser\":\"PIDB3C3\",\n        \"Type\": \"Incident\"\n    },\n    \"Article\":{\n        \"CommunicationChannel\":\"Email\",\n        \"Subject\":\"{{ $json.event }}\",\n        \"Body\": {{ $json.raw.toJsonString() }},\n        \"ContentType\":\"\",\n        \"Charset\":\"utf-8\",\n        \"MimeType\":\"text/plain\"\n    }\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[672,0],"id":"7b8fc187-262c-4ae2-bd8c-2b67feb2d583","name":"HTTP Request"},{"parameters":{"operation":"update","tableId":"ktg_main","filters":{"conditions":[{"keyName":"uuid","condition":"eq","keyValue":"={{ $('Get many rows').item.json.uuid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"ticket_number","fieldValue":"={{ $json.TicketNumber }}"},{"fieldId":"ticket_id","fieldValue":"={{ $json.TicketID }}"},{"fieldId":"status","fieldValue":"={{ $('Edit Fields').item.json.status_set }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,0],"id":"83acab97-321f-44d3-9631-b72677f0894f","name":"Update a row","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,0],"id":"b55e0a95-8996-4076-a635-bfbac4c6a37d","name":"Success"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"084e0b01-554f-421b-bede-b7f0fe48fa96","triggerCount":0,"shared":[{"updatedAt":"2025-12-01T13:34:13.933Z","createdAt":"2025-12-01T13:34:13.933Z","role":"workflow:owner","workflowId":"CEPq1GwB8EbM7SOV","projectId":"MqHMA4XA0kClklct"}],"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"}]}