workflows/ KTG Step FINAL-B Increase Call Counters.json
{"updatedAt":"2025-12-09T05:26:16.958Z","createdAt":"2025-12-05T09:52:29.808Z","id":"Rdo52UU5duu9OW1O","name":"KTG Step FINAL-B Increase Call Counters","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-656,592],"id":"5c659c7c-2906-4bdf-ad1a-87a39a6f2e68","name":"Triggered by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"7a193a60-f171-4744-af07-72a973a4ba1a","name":"status_get","value":"ingested","type":"string"},{"id":"0081d29a-ce94-4bf5-a761-2c559b25eff1","name":"status_set","value":"call_counter_increased","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,592],"id":"16db060f-873c-48a1-b125-625aadd4a8a2","name":"Initialize Processing Statuses"},{"parameters":{"operation":"getAll","tableId":"ktg_main","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"={{ $json.status_get }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-208,592],"id":"e881df06-e078-41f7-b26d-77e11ad79403","name":"Fetch Ingested Incidents","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,608],"id":"feca9949-5bb7-4d65-a0ce-25a64e5fcebe","name":"Iterate Incidents (Loop)"},{"parameters":{"operation":"get","tableId":"ktg_main","filters":{"conditions":[{"keyName":"incident_key","keyValue":"={{ $json.incident_key }}"},{"keyName":"status","keyValue":"ticket_created"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[624,528],"id":"fb8d9f53-756a-4e98-9dee-8ff255091eca","name":"Find Base Incident (ticket_created)","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"256a05ae-8144-4e8e-a499-6cdf66b9d6d0","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"6c9fc98a-e964-4900-9313-bbc0a49facb0","name":"call_counter","value":"={{ $json.call_counter+1}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,432],"id":"3e08fd9c-0ff6-4e3e-95c9-dac1afced18d","name":"Prepare Updated Call Counter"},{"parameters":{"operation":"update","tableId":"ktg_main","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"call_counter","fieldValue":"={{ $json.call_counter }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1136,432],"id":"d0cdaa62-b5e8-4a10-9111-5e32d590489c","name":"Apply Call Counter Update","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"content":"# Описание логики воркфлоу\nЭтот воркфлоу обрабатывает инциденты из таблицы ktg_main.\n\n1. Загружаются все инциденты со статусом \"ingested\".\n2. Для каждого инцидента:\n   • статус меняется на \"call_counter_increased\";\n   • выполняется поиск базового инцидента со статусом \"ticket_created\" и тем же incident_key;\n   • если базовый инцидент найден — увеличивается его call_counter.\n3. Таким образом фиксируются повторные срабатывания инцидентов и агрегируются в одном тикете.\n\nВоркфлоу может запускаться вручную или другим воркфлоу.","height":272,"width":1136},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"9807fcff-53b4-48c1-946e-7f2ef7f43060","name":"Sticky Note"},{"parameters":{"method":"PATCH","url":"=https://otrs.mbr.loc/otrs/nph-genericinterface.pl/Webservice/GenericTicketConnectorREST/Ticket/{{ $json.ticket_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"},{"name":"X-OTRS-Header-UserLogin","value":"TEC721"},{"name":"X-OTRS-Header-Password","value":"JwYysZmugRa5AMx9"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"Article\":{\n        \"Subject\": \"New event: {{ $json.computer }} - {{ $json.event }}\",\n        \"CommunicationChannel\":\"Internal\",        \n        \"Body\": {{ $json.raw.toJsonString() }},\n        \"ContentType\":\"\",\n        \"Charset\":\"utf-8\",\n        \"MimeType\":\"text/plain\"\n    }\n}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1136,624],"id":"6095ac8c-df2d-49c0-bd38-888ab68a57ba","name":"Update OTRS Ticket"},{"parameters":{"operation":"update","tableId":"ktg_main","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Iterate Incidents (Loop)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"status","fieldValue":"={{ $('Initialize Processing Statuses').item.json.status_set }}"},{"fieldId":"ticket_number","fieldValue":"={{ $json.ticket_number }}"},{"fieldId":"ticket_id","fieldValue":"={{ $json.ticket_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,624],"id":"23088fe3-aadc-4c3b-8135-d2334938417c","name":"Mark Incident as Counted","credentials":{"supabaseApi":{"id":"bAYIwwqmGsUJyjXD","name":"Supabase account"}}},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,592],"id":"20e7cd2a-6f0c-4c76-85c6-246e42c4dca9","name":"Success"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true},"id":"75b32c29-53f0-43e5-8261-96142681937a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Empty"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac8b1cc2-db40-44c2-ac47-a013ef05044c","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Rows"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[0,592],"id":"07d50439-bcbe-469d-a623-425c41597546","name":"Switch"},{"parameters":{"jsCode":"return [{\n  execution_result: \"Success\",\n  items: $input.all()\n}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,464],"id":"efac4838-a032-4694-9148-f8fbc3209dac","name":"Success1"}],"connections":{"Triggered by Another Workflow":{"main":[[{"node":"Initialize Processing Statuses","type":"main","index":0}]]},"Initialize Processing Statuses":{"main":[[{"node":"Fetch Ingested Incidents","type":"main","index":0}]]},"Fetch Ingested Incidents":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Iterate Incidents (Loop)":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Find Base Incident (ticket_created)","type":"main","index":0}]]},"Find Base Incident (ticket_created)":{"main":[[{"node":"Prepare Updated Call Counter","type":"main","index":0},{"node":"Mark Incident as Counted","type":"main","index":0}]]},"Prepare Updated Call Counter":{"main":[[{"node":"Apply Call Counter Update","type":"main","index":0}]]},"Apply Call Counter Update":{"main":[[]]},"Update OTRS Ticket":{"main":[[{"node":"Iterate Incidents (Loop)","type":"main","index":0}]]},"Mark Incident as Counted":{"main":[[{"node":"Update OTRS Ticket","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Success1","type":"main","index":0}],[{"node":"Iterate Incidents (Loop)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"053b7fd4-07fd-4010-b068-b45138b2f2f0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-05T09:52:29.808Z","createdAt":"2025-12-05T09:52:29.808Z","role":"workflow:owner","workflowId":"Rdo52UU5duu9OW1O","projectId":"MqHMA4XA0kClklct"}],"activeVersion":null,"tags":[{"updatedAt":"2025-12-02T08:15:18.330Z","createdAt":"2025-12-02T08:15:18.330Z","id":"LjXBPoStRF00XMDp","name":"kav-ticket-generator"}]}